@import "./base.css";

.header {
    margin-bottom: 50px;
}

.header-nav {

    max-width: max-content;

    padding: 20px 70px;
    margin-inline: auto;

    display: flex;
    column-gap: 70px;

    border-bottom: 2px solid var(--purple-bg);
}

.header-nav__item {
    text-decoration: none;
    cursor: pointer;
}

.chip {
    width: max-content;

    padding: 3px 4px;
    font: var(--chips);
    border-radius: 4px;

    box-shadow: var(--elevation-1);
}

.chip_big {
    padding: 5px 7px;
    font: var(--chips-big);
}

.chip_purple {
    background: var(--purple-bg);
    color: var(--purple-primary);
}

.chip_orange {
    background: var(--orange-bg);
    color: var(--orange-primary);
}

.calendar {
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    background: var(--white-bg);

    border-radius: 10px;
    box-shadow: var(--elevation-1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-buttons {
    display: flex;
    column-gap: 15px;
}

.button {
    cursor: pointer;

    width: 35px;
    height: 35px;

    border-radius: 5px;
    border: 2px solid var(--purple-bg);

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-grid {
    border-radius: 8px;

    overflow: clip;
}

.calendar-grid-header {
    background: var(--purple-bg);

    display: flex;
}

.calendar-grid-header__item {
    font: var(--calendar-header);
    color: var(--purple-primary);

    padding: 20px 12px;

    width: 150px;
    height: 59px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-grid__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.event {
    width: 350px;
    border-radius: 14px;
    padding: 10px;
    row-gap: 10px;

    background: var(--white-bg);
    box-shadow: var(--elevation-2);

    display: flex;
    flex-direction: column;
}

.event__header {
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: var(--calendar-text-primary);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.event__accent {
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.event__accent_purple {
    background: var(--purple-primary);
}

.event__accent_orange {
    background: var(--orange-primary);
}

.event__info {
    display: flex;
    flex-direction: column;

    row-gap: 5px;
}

.event__name {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 19px;
}

.event__type {
    color: var(--calendar-text-primary);

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.events {
    display: flex;
    column-gap: 100px;

    max-width: max-content;
    margin: auto;
}

.events-column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    max-width: 350px;
}

.events-column__column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.calendar-day {
    width: 150px;
    height: 100px;

    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--purple-bg);
}

.calendar-day__number {
    color: var(--calendar-text-primary);

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.calendar-day__number_foreign {
    color: var(--calendar-text-muted);
}

.chat {
    background: var(--page-bg);
    width: 400px;

    position: absolute;
    right: 30px;
    bottom: 0;

    box-shadow: var(--elevation-1);
    border-radius: 15px;

    overflow: clip;

    margin-block: 20px;
    max-height: calc(100vh - 40px);
}

.chat__header {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    align-items: center;

    box-shadow: var(--elevation-1);
}

.chat__name {
    font: var(--chips-big);
}

.chat__messages {
    padding: 15px 20px;

    display: flex;
    flex-direction: column;

    row-gap: 15px;
}

.chat-message {
    width: 80%;
    max-width: max-content;

    padding: 10px;
    border-radius: 8px;
    font: var(--chips);
}

.chat-message_ingoing {
    background: var(--white-bg);
}

.chat-message_outgoing {
    align-self: end;
    text-align: right;

    background: var(--purple-bg);
    color: var(--purple-primary);
}

.chat-form {
    margin: 15px 20px;
    padding: 10px 10px 10px 20px;

    display: flex;
    justify-content: space-between;

    background: var(--white-bg);
    border-radius: 12px;

    box-shadow: var(--elevation-2);
}

.chat-form__input {
    border: none;

    font: var(--chips-big);
}

.chat-form__input:focus {
    outline: none;
}

.button_accent {
    border-radius: 9px;

    background: var(--purple-primary);
    border: none;

    width: 40px;
    height: 40px;
}
