@import "./base.css";

.header {
    margin-bottom: 50px;
}

.header-nav {

    max-width: max-content;

    padding: 20px 70px;
    margin-inline: auto;

    display: flex;
    column-gap: 70px;

    border-bottom: 2px solid var(--purple-bg);
}

.header-nav__item {
    text-decoration: none;
    cursor: pointer;
}

.chip {
    width: max-content;

    padding: 3px 4px;
    font: var(--chips);
    border-radius: 4px;

    box-shadow: var(--elevation-1);
}

.chip_big {
    padding: 5px 7px;
    font: var(--chips-big);
}

.chip_purple {
    background: var(--purple-bg);
    color: var(--purple-primary);
}

.chip_orange {
    background: var(--orange-bg);
    color: var(--orange-primary);
}

.chip_blue {
    background: var(--blue-bg);
    color: var(--blue-primary);
}

.chip_gray {
    background: var(--gray-bg);
    color: var(--gray-primary);
}

.chip_red {
    background: var(--red-bg);
    color: var(--red-primary);
}

.chip_green {
    background: var(--green-bg);
    color: var(--green-primary);
}

.chip_yellow {
    background: var(--yellow-bg);
    color: var(--yellow-primary);
}

.chip_pink {
    background: var(--pink-bg);
    color: var(--pink-primary);
}

.chip_teal {
    background: var(--teal-bg);
    color: var(--teal-primary);
}

.calendar {
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    background: var(--white-bg);

    border-radius: 10px;
    box-shadow: var(--elevation-1);
    margin-bottom: 50px;
    height: max-content;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-buttons {
    display: flex;
    column-gap: 15px;
}

.button, .splide__arrow {
    cursor: pointer;

    width: 35px;
    height: 35px;

    border-radius: 5px;
    border: 2px solid var(--purple-bg);
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-grid {
    border-radius: 8px;

    overflow: clip;
}

.calendar-grid-header {
    background: var(--purple-bg);

    display: flex;
}

.calendar-grid-header__item {
    font: var(--calendar-header);
    color: var(--purple-primary);

    padding: 20px 12px;

    width: 150px;
    height: 59px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-grid__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.event {
    width: 350px;
    border-radius: 14px;
    padding: 10px;
    row-gap: 10px;

    background: var(--white-bg);
    box-shadow: var(--elevation-2);

    display: flex;
    flex-direction: column;
}

.event.hoverable:after {
    transition: all .15s ease-in;
    opacity: 0;

    content: "Подробнее ›";
    position: absolute;
    bottom: 10px;
    right: 10px;
    font: var(--chips);
    color: var(--calendar-text-primary);
}

.event.hoverable:hover:after {
    opacity: 1;
}

.event__header {
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: var(--calendar-text-primary);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.event__accent {
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.event__accent_purple {
    background: var(--purple-primary);
}

.event__accent_orange {
    background: var(--orange-primary);
}

.event__accent_blue {
    background: var(--blue-primary);
}

.event__accent_gray {
    background: var(--gray-primary);
}

.event__accent_red {
    background: var(--red-primary);
}

.event__accent_green {
    background: var(--green-primary);
}

.event__accent_yellow {
    background: var(--yellow-primary);
}

.event__accent_pink {
    background: var(--pink-primary);
}

.event__accent_teal {
    background: var(--teal-primary);
}


.event__info {
    display: flex;
    flex-direction: column;

    row-gap: 5px;
}

.event__name {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 19px;
}

.event__type {
    color: var(--calendar-text-primary);

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.events {
    width: 1540px;

    display: flex;
    column-gap: 100px;

    /*max-width: max-content;*/
    margin: auto;
}

.events-column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    max-width: 350px;
}

.events-column__column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.calendar-day {
    width: 150px;
    min-height: 100px;

    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--purple-bg);
    gap: 7px;
}

.calendar-day__number {
    color: var(--calendar-text-primary);

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.calendar-day_foreign span{
    /*color: var(--calendar-text-muted);*/
    opacity: .5;
}

.chat {
    background: var(--page-bg);
    width: 400px;

    position: fixed;
    right: 30px;
    bottom: 0;

    box-shadow: var(--elevation-1);
    border-radius: 15px;

    overflow: clip;

    margin-block: 20px;
    max-height: calc(100vh - 40px);
}

.chat__header {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    align-items: center;

    box-shadow: var(--elevation-1);
}

.chat__name {
    font: var(--chips-big);
}

.chat__messages {
    padding: 15px 20px;

    display: flex;
    flex-direction: column;

    row-gap: 15px;
}

.chat-message {
    width: 80%;
    max-width: max-content;

    padding: 10px;
    border-radius: 8px;
    font: var(--chips);
}

.chat-message_ingoing {
    background: var(--white-bg);
}

.chat-message_outgoing {
    align-self: end;
    text-align: right;

    background: var(--purple-bg);
    color: var(--purple-primary);
}

.chat-form {
    margin: 15px 20px;
    padding: 10px 10px 10px 20px;

    display: flex;
    justify-content: space-between;

    background: var(--white-bg);
    border-radius: 12px;

    box-shadow: var(--elevation-2);
}

.chat-form__input {
    border: none;

    font: var(--chips-big);
}

.chat-form__input:focus {
    outline: none;
}

.button_accent {
    border-radius: 9px;

    background: var(--purple-primary);
    border: none;

    width: 40px;
    height: 40px;
}

.events__text {
    list-style: none;

    margin-block: 20px;
    max-width: 80%;
    white-space: break-spaces;

    font: var(--chips);
    line-height: 1.6;
    font-size: 16px;
}

.events__text_single {
    padding: 1em 2em;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*background: var(--white-bg);*/
    /*box-shadow: var(--elevation-1);*/
}

.event__description {
    font: var(--chips-big);
    max-width: 80%;
}

.event__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.event__photo {
    aspect-ratio: 16 / 11;
    object-fit: cover;
    width: 20vw;
}

.text__link {
    color: #000;
}

.text__link_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background: #ffffff;
    border-radius: 18px;
    padding: 2em;
    box-sizing: content-box;

    gap: 30px;
    text-decoration: none;
    box-shadow: var(--elevation-1);
}

.text__link_image img {
    max-height: 90px;
}

.text__link_image span {
    text-align: center;
}

.chat_empty {
    color: var(--calendar-text-muted);

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.slider__header {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    color: #ffffff;
    background-size: cover;
    align-items: start;
}

.splide {
    margin-bottom: 50px;
}

.splide__arrows {
    position: initial;
    top: 50%;
}

.splide__arrow * {
    fill: var(--purple-primary);
}

.events__text-item {
    counter-increment: steps;
}

.events__text-item::before {
    content: counter(steps);

    margin-right: 2em;
    color: var(--purple-primary);
    background: var(--purple-bg);
    border-radius: 100%;
    display: inline-grid;
    place-items: center;

    box-shadow: var(--elevation-1);

    width: 30px;
    height: 30px;

    position: absolute;
    top: 30px;
    left: -45px;
}

.text-links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;

    max-width: unset;

    font: var(--chips);
}

.new-event-form {
    background: var(--purple-bg);
    color: var(--purple-primary);

    border-radius: 18px;

    max-width: max-content;
    padding: 1.5em;
    margin-block: 20px;

    gap: 10px;
    column-gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form__input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    font: var(--chips-big);

}

.form__input-span {
}

.form__input-field {
    width: 100%;

    font: var(--chips);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.new-event__button {
    align-self: end;
    justify-self: end;
}

.calendar-day__event-name {
    transition: .15s ease-out all;

    font: var(--chips);
    color: var(--calendar-text-primary);
    font-size: 12px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-day:hover:not(.calendar-day_foreign) {
    color: var(--text-primary);
    cursor: pointer;
}

.calendar-day:hover:not(.calendar-day_foreign) .calendar-day__event-name {
    color: var(--text-primary);
}
